.top{
    height: 50px;  
    width:100%;
    margin-left: 0;
    background:rgb(0, 153, 51);
    position: 0; 
    top: 0;
    margin-bottom: 5px;
}
.top ul{
    width: auto;
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 1%;
    margin-top: 3;          
    padding: 0;
}
.top li {
    float:left; 
    margin-right:2%;  
    position: relative;
    overflow: hidden;
   font-size:25px;
}
.top li a{
    display: block; 
    color:white;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; 
}
.top li a:hover{
    background-color: #990099;
}
body{
  background: url("https://img.zcool.cn/community/0143f15602075a32f875a132ec91e9.jpg@1280w_1l_2o_100sh.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-o-background-size: cover;                
background-size: cover;
}
.image {
background-image: url(" https://scpic.chinaz.net/files/pic/pic9/201804/bpic6536.jpg");
background-size: cover;
background-position: left;
height: 800px;
}
.caption {
display: block;
font-family: 'Playfair Display', serif;
font-size: 34px;
font-style: italic;
line-height: 34px;
margin-left: 20px;
padding: 10px;
position: relative;
text-align: center;
top: 50%;
width: 90%;
color: #000000;
}
h2{
  Font-weight:bold;
  font-size:35px;
}
h3 {
border-bottom: 1px solid rgba(102, 0, 204, 0.5);
color: #000000;
font-weight: 100;
font-size: 30px;
line-height: 50px;
padding-bottom: 30px;
text-align: left;
width: 70%;
Font-weight:bold; 
}
p{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size:25px;
  color: #000000;
  line-height:50px;
}
.writer-img {
-webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
-moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
float: center;
width: 100px;
height: 100px;
}
.content {
padding: 40px;
}
.footer{
 width: 100%;
 height: 60px;
 line-height: 60px;
 text-align: center;
 font-size: 25px;
 background:  #996633;
 color: #cccc00;
 position: 0;
 bottom: 0;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.context{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(115deg, #e28743 10%, #1587b9 90%);
}
.container{
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container form{
  padding: 30px 0 0 0;
}
.container form .form-row{
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea{
  height: 70px;
}
.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
}
.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #3498db;
}
.textarea textarea{
  resize: none;
  padding-top: 10px;
}
.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label{
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}
.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}
.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
  left: 0;
}
.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
@media (max-width: 700px) {
  .container .text{
    font-size: 30px;
  }
  .container form{
    padding: 10px 0 0 0;
  }
  .container form .form-row{
    display: block;
  }
  form .form-row .input-data{
    margin: 35px 0!important;
  }
  .submit-btn .input-data{
    width: 40%!important;
  }
}